*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'New Tegomin', serif;
    font-size: large;
    margin: 20px;
    padding: 20px;
}
.list{
    padding: 40px;
    display: block;
    width: 350px;
    height: 400px;
    color:white;
    border-radius: 5%;
    background-color: rgb(72, 113, 235);
}
 
 .service{
     background-color: rgb(122, 245, 173);
     padding: 20px 50px;
     margin: 10px;
    border-radius: 5%;
     
 }
 .service2{
    background-color: rgb(206, 79, 128);
}
 h3{
     padding: 10px;
     text-align: center;
 }
 .list div p{
     display: inline;
 }
 .list div .price{
     float: right;
 }
 .list .service:hover{
    background-color: rgb(133, 90, 107);

 }
 
 .total{
    padding: 20px 50px;
    border: 2px solid rgb(163, 160, 160);
     border-bottom: 0px;
     border-left: 0px;
     border-right: 0px;
 }